$title-color: #212121;
$accent-color: #2196f3;
$white: #ffffff;

%animated {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
